body {

    background-image: url(gif/download.gif);
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.box h1 {
    font-family: sans-serif;
    text-align:center;
    color: white;
    text-transform: uppercase;
}

.box{
    
    flex-direction: row;
    width: 300px; 
    padding: 40px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.068);
    overflow: hidden;
    color: 000;
    top: 50%;
    background: rgba(0, 0, 0, 0.1);
    background-position: center;
    text-align: center ;

}

.box input[type = "text"], .box input[type = "password"]{

    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #089ae9;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    
    
}

.box input[type= "text"]:focus,.box input[type= "password"]:focus {

    width: 280px; 
    border-color: #2ecc71;
    
}

.box input[type = "submit"]{
   
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
}

